<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">RT Todo List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto"></ul>
      <span class="navbar-text">
        <i class="material-icons ml-3" (click)="openCreateBox()">add</i>
        <i class="material-icons ml-3" (click)="openFriendsPopup()">person_add</i>
        <!-- <i class="material-icons ml-3">notifications</i> -->

        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1"
            ngbDropdownToggle>{{loginService.getLoginUserEmail()}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="loginService.logout()">Log out</button>
          </div>
        </div>
      </span>
    </div>
  </nav>

  <div class="container">
    <h2>Yours</h2>
    <p>
      <ngb-alert [dismissible]="false" *ngIf="userTodoLists.length === 0">
        You have no todos right now. <strong>What about creating one?</strong>
      </ngb-alert>
    </p>
    <div class="card-columns">
      <div class="card" *ngFor="let todoList of userTodoLists" (click)="openEditor(todoList, 'own')">
        <div class="card-body">
          <div class="card-text">
            <h5 class="ellipsis">{{ todoList.title }}</h5>
            <ul>
              <li class="checklist" *ngFor="let todo of todoList.todos">
                <!-- <input id="option" type="checkbox" name="field" value="option" /> -->
                <label for="option" [class.strikeout]="todo.completed"><span><span></span></span>{{
                      todo.text_history[todo.text_history.length - 1]
                    }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngFor="let frnds of frndsTodoLists">
    <h2>{{frnds.user.first_name}} {{frnds.user.last_name}}</h2>
    <p>
      <ngb-alert [dismissible]="false" *ngIf="frnds.lists.length === 0">
        {{frnds.user.first_name}} {{frnds.user.last_name}}'s has no todos as of now.
      </ngb-alert>
    </p>
    <div class="card-columns">
      <div class="card" *ngFor="let todoList of frnds.lists" (click)="openEditor(todoList, frnds.user._id)">
        <div class="card-body">
          <div class="card-text">
            <h5 class="ellipsis">{{ todoList.title }}</h5>
            <ul>
              <li class="checklist" *ngFor="let todo of todoList.todos">
                <!-- <input id="option" type="checkbox" name="field" value="option" /> -->
                <label for="option" [class.strikeout]="todo.completed"><span><span></span></span>{{
                      todo.text_history[todo.text_history.length - 1]
                    }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
