.checklist {
  list-style-type: none;
}

.singled {
  margin-top: -2px;
  color: white;
  font-size: 40px;
}

.singled:hover {
  color: lavender;
  cursor: pointer;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-body {
  margin-top: -20px;
}

.modal-content {
  background-color: blue;
}

#addInput {
  background-color: lightslategray;
  color: white;
  outline-color: currentColor;
}

.listed {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.checkSize {
  font-size: large;
}

.dottedDropdown {
  height: 1px;
  width: 1px;
  background-color: lightslategray;
}

.moreVert {
  font-size: medium;
  color: whitesmoke;
  cursor: pointer;
  margin-left: 6px;
}

.dropdown {
  margin-top: 3px;
}

#addInput {
  height: 24px;
}
app-todo-node {
  display: flex;
}
