<div class="modal-data">
  <div class="modal-header">
    <h5 class="modal-title"><input type="text" placeholder="Write your title here" class="todo-modal-input"
        [(ngModel)]="title">
    </h5>
    <i class="material-icons ml-4 singled">add</i>
    <button style="outline-style: hidden;" type="button" class="close" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true" style="outline-style: hidden;">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group">
      <div class="input-group-append">
        <span (click)="addTodo()"><i class="material-icons listed ml-3">add</i></span>
        <input type="text" id="addInput" class="form-control" [(ngModel)]="currentTodo" />
      </div>
    </div>
    <ul>
      <!-- <li class="checklist checkSize" *ngFor="let todo of todos" style="display: flex;">
        <div class="dropdown ml-3">
          <i class=" material-icons moreVert" data-toggle="dropdown">more_vert</i>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" *ngIf="!todo.completed">Mark as completed</a>
            <a class="dropdown-item" href="#" *ngIf="todo.completed">Mark as not completed</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </div>
        <span [class.strikeout]="todo.completed">{{todo.text}}</span>
        <ul>
          <li><input type="text" id="addInput" class="form-control" [(ngModel)]="currentTodo" />
          </li>
        </ul>
      </li> -->
      <li class="checklist checkSize" *ngFor="let todo of todos;let i=index" style="display: flex;">
        <app-todo-node [todo]="todo" (todoChange)="updateTodo(i, $event)" (removeTodo)="remove(i)"></app-todo-node>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
      Cancel
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="save()">
      Save
    </button>
  </div>
</div>
