/* You can add global styles to this file, and also import other style files */
.modal-content,
.todo-modal-input {
  background-color: lightslategray;
}

.modal-dialog {
  margin-top: 150px;
  color: white;
}
